html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: url("img/bg.jpg") no-repeat;
  background-size: 100% 100%;
}
#root {
  width: 1200px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-around;
}
.person {
  margin: 20px;
  display: inline-block;
  border: 2px solid #cccccc;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #ccc;
  width: 25%;
  height: 80%;
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
}
.person:hover {
  border-color: deepskyblue;
}
img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}
h2 {
  color: white;
  text-shadow: 1px 1px 4px dimgrey;
}
h3 {
  color: gold;
}